DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
GITHUB_PAT=your_github_personal_access_token_here

# Site URL Configuration
NEXT_PUBLIC_SITE_URL=https://mhmtaufiq.foo


# Resend Email Configuration
RESEND_API_KEY=re_123456789
CONTACT_EMAIL_TO=recipient@example.com
CONTACT_EMAIL_FROM=onboarding@resend.dev

# S3 Custom Domain CDN Configuration (Optional)
# S3_CDN_URL=https://cdn.mydomain.com

# Cloudflare Turnstile CAPTCHA
NEXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
